.dark-mode {
  --color-background: #121c1a;
  --color-surface: #292d3e;
  --color-primary: #31364a;
  --color-text: #e0e5e3;
  --color-text-inverse: #264653;
  --color-shadow: rgba(255, 255, 255, 0.3);
}

::selection {
  background: var(--color-primary);
  color: var(--color-text-inverse);
}

.dark-mode ::selection {
  background: var(--color-text);
  color: var(--color-text-inverse);
}

body {
  font-family: "Montserrat";
  background: var(--color-surface);
  transition: all 500ms linear;
}

h1 {
  font-size: var(--font-size-h1);
  font-weight: 600;
  line-height: 2;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 500;
  line-height: 2;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 500;
  line-height: 2;
}

p {
  font-size: var(--font-size-p);
  line-height: 1.5;
  letter-spacing: 0.6px;
}
