/* CONTAINER */
.container {
  width: 100%;
  max-width: min(90%, 1440px);
  margin: 0 auto;
  padding: var(--spacing-md);
}

/* BUTTON */
.btn {
    display: inline-block;
    text-transform: uppercase;
    background: var(--color-text-inverse);
    color: var(--color-text);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    font-weight: var(--font-weight-md);
    transition-duration: var(--transition-normal);
    cursor: pointer;

    &:hover {
        background: var(--color-text);
        color: var(--color-text-inverse);
    }
}

/* CARD */
.card {
  background: inherit;
  box-shadow: 0 0 5px var(--color-shadow);
  padding: var(--spacing-normal);
  border-radius: var(--border-radius-md);
}

