/* CONTAINER */
.container {
  width: clamp(320px, 90vw, 1920px);
  margin: 0 auto;
  padding-inline: var(--spacing-s-2xl);
}

/* BUTTON */
.btn {
  display: inline-block;
  text-transform: uppercase;
  background: var(--color-accent);
  color: var(--color-text-inverse);
  padding: var(--spacing-xs);
  border-radius: 20px;
  font-size: var(--font-size-0);
  font-weight: 500;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  &:hover {
    background: var(--color-primary);
    color: var(--color-text);
  }
}

/* CARD */
.card {
  background: inherit;
  box-shadow: 0 0 5px var(--color-shadow);
  padding: var(--spacing-s);
  border-radius: 20px;
}

/* TITLE */
h2.section-title {
  text-transform: uppercase;
  letter-spacing: var(--spacing-xs);
}