/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable declaration-property-value-no-unknown */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable no-descending-specificity */
@import url("animations.css");
@import url("properties.css");

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 100%;
  height: 8.5dvh;
  color: #e1e7e0;
  background: transparent;
  transition: all 500ms linear;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.scroll {
  background: var(--color-primary);
  box-shadow: 0 0 10px var(--color-shadow);
}

header .container .logo {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

header .container .logo i {
  font-size: var(--font-size-1);
}

header .container .logo h4 {
  letter-spacing: 0.25rem;
}

header .container .logo:nth-child(1),
header .container .logo:nth-child(2) {
  cursor: pointer;
}

#dropdownIcon {
  transition: 500ms;
  rotate: 0;
}

#dropdownIcon.show {
  rotate: 180deg;
}

.dropdown {
  position: absolute;
  top: -200px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 150%;
  padding: 1rem;
  background: transparent;
  border-radius: 0 0 10px 10px;
  opacity: 0;
  transition: all 500ms linear;
  visibility: hidden;
}

.dropdown.show {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.dropdown button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
  font-size: var(--font-size-1);
  border-radius: 15px;

  &:hover {
    color: var(--color-text-inverse);
    background: var(--color-accent);
  }
}

header.scroll .container .dropdown {
  background: var(--color-primary);
}

header .container .menu-bar {
  display: none;
  width: auto;
  height: 6dvh;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 100%;
  height: 100%;
}

.hamburger .line {
  width: 100%;
  height: 4px;
  background: #e1e7e0;
  border-radius: 50px;
  transition: all 0.5s ease;
  transform-origin: center;
}

.hamburger.active .line {
  position: absolute;
}

.hamburger.active .line:nth-child(1) {
  rotate: -45deg;
}

.hamburger.active .line:nth-child(2) {
  rotate: 45deg;
}

.hamburger.active .line:nth-child(3) {
  rotate: -45deg;
}

header .container nav {
  display: flex;
  gap: var(--spacing-s);
}

header .container nav a {
  position: relative;
  display: inline-block;
  font-size: var(--font-size-0);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;

  &:hover {
    color: var(--color-accent);
  }
}

header .container nav a::after {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 0%;
  height: 10%;
  background: #e1e7e0;
  border-radius: 20px;
  transition: all 300ms ease-in-out;
  content: "";
}

header .container nav a.current::after {
  width: 100%;
}

header .container #overlay {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  opacity: 0;
  transition: all 500ms ease-in-out;
  backdrop-filter: blur(5px);
  inset: 0;
  visibility: hidden;
}

@media (width <= 1024px) {
  header .container .menu-bar {
    display: block;
  }

  header .container nav {
    position: absolute;
    top: -500px;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: var(--spacing-s);
    background: transparent;
    opacity: 0;
    transition: all 0.5s linear;
    visibility: hidden;
  }

  header .container nav.active {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }

  header .container nav.active ~ #overlay {
    opacity: 1;
    inset: 0;
    visibility: visible;
  }

  header.scroll .container nav.active ~ #overlay {
    inset: 8.5dvh 0 0;
  }

  header.scroll .container nav {
    background: var(--color-primary);
  }

  header .container nav a {
    position: relative;
    z-index: 1;
    display: block;
    margin: var(--spacing-s) 0;
    padding: var(--spacing-xs);
    font-size: 120%;
    text-align: center;

    &:hover {
      color: inherit;
    }
  }

  header .container nav a::after {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    height: 100%;
    background: var(--color-primary);
    border-radius: 20px;
    transition: all 300ms ease-in-out;
    content: "";
    translate: 0 -50%;
  }

  header.scroll .container nav a::after {
    background: var(--color-accent1);
  }

  header .container nav a.current::after {
    width: 100%;
  }

  body.dark-mode header .container nav a.current {
    color: var(--color-primary);
  }

  body.dark-mode header .container nav a.current::after {
    background: var(--color-accent);
  }
}

/* SECTION HERO */
#hero {
  position: relative;
  display: flex;
  min-height: 100dvh;
  background: url("../img/BANNER.jpeg") no-repeat center center/cover;
  background-attachment: fixed;
}

#hero::after {
  position: absolute;
  z-index: 0;
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(1px);
  content: "";
  inset: 0;
}

#hero .container {
  position: relative;
  z-index: 1;
  margin-top: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  text-align: center;
  color: #e1e7e0;
}

.banner-text h1 {
  margin: var(--spacing-m) 0;
  line-height: 1.25;
  letter-spacing: var(--spacing-s);
}

.banner-text h1 span {
  color: var(--color-primary);
}

.banner-text h2 {
  margin: var(--spacing-s) 0;
}

.banner-text a {
  display: inline-block;
  margin: var(--spacing-m);
  font-size: var(--font-size-4);
  transition: all 500ms ease-in-out;
  animation: bounce 1500ms ease-in-out infinite;
}

.banner-text h2 span {
  position: relative;
}

.banner-text h2 span::after {
  position: absolute;
  top: 50%;
  right: calc(0 + 5rem);
  width: 1%;
  height: 100%;
  background: #e1e7e0;
  border-radius: 100px;
  animation: blink 1.5s infinite;
  content: "";
  translate: 0 -50%;
}

/* SECTION ABOUT */
#about {
  color: var(--color-text);
  overflow-x: hidden;
}

#about .container:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.about-text .social-icons {
  display: flex;
  gap: var(--spacing-m);
  margin: var(--spacing-m) 0;
}

.about-text .social-icons a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--spacing-2xl);
  font-size: var(--font-size-3);
  color: var(--color-text-inverse);
  background: var(--color-accent);
  border-radius: 50%;
  transition: color 500ms ease-in-out;
  aspect-ratio: 1;

  &:hover {
    color: var(--color-primary);
    --fill: 100%;
  }
}

.about-text .social-icons a::after,
.about-text .social-icons a::before {
  position: absolute;
  z-index: -1;
  background: conic-gradient(
    var(--color-primary) var(--fill),
    transparent var(--fill)
  );
  border-radius: inherit;
  transition: --fill 500ms ease-in-out;
  content: "";
  inset: -3px;
}

.about-text .social-icons a::before {
  filter: blur(3px);
}

.about-img {
  position: relative;
  height: auto;
  max-width: 32vw;
  border-radius: 50%;
  aspect-ratio: 1/1;
  justify-self: end;
}

.about-img::after,
.about-img::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  width: 101.5%;
  height: auto;
  padding: 10px;
  background: conic-gradient(
    from var(--angle),
    transparent 70%,
    var(--color-accent)
  );
  border-radius: 50%;
  animation: 3s spin ease-in-out infinite;
  aspect-ratio: 1/1;
  content: "";
  translate: -50% -50%;
}

.about-img::before {
  filter: blur(10px);
}

.img-box {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  border-radius: 50%;
  overflow: hidden;
}

/* SKILL */
.container.skill h2.skill {
  line-height: 2;
}

.container.skill {
  position: relative;
}

.skill-container {
  max-width: min(85%, 1440px);
  margin: 0 auto var(--spacing-l) auto;
  padding: 20px 10px;
  overflow: hidden;
  user-select: none;
}

.card-list .card {
  position: relative;
  z-index: 1;
  display: block;

  &:hover {
    --fill: 100%;
  }
}

.card-list .card::after,
.card-list .card::before {
  position: absolute;
  border-radius: inherit;
  content: "";
}

.card-list .card::before {
  z-index: -1;
  background: var(--color-bg);
  inset: 0;
}

.card-list .card::after {
  z-index: -2;
  background: conic-gradient(
    var(--color-primary) var(--fill),
    transparent var(--fill)
  );
  transition: --fill 500ms ease-in-out;
  filter: blur(1px);
  inset: -3px;
}

.card-list .card.swiper-slide {
  height: var(--scale-360-500);
}

div.card-icon {
  max-width: 100%;
  background: var(--color-accent);
  border-radius: inherit;
  aspect-ratio: 16/9;
}

.card-icon .icon {
  width: 100%;
  height: 100%;
  color: var(--color-text-inverse);
  object-fit: cover;
}

.card-text {
  margin: 1rem 0;
}

.card-text h4 {
  font-weight: 500;
}

@media (width <= 1024px) {
  #about .container:first-child {
    gap: var(--spacing-m);
    grid-template-columns: 1fr;
  }

  .about-text {
    order: 2;
  }

  .about-img {
    max-width: 64vw;
    justify-self: center;
    order: 1;
  }
}

/* SECTION EDUCATION & EXPERIENCE */
#education,
#experiences {
  position: relative;
  margin: 0 auto;
  color: var(--color-text);
}

#education .container,
#experiences .container {
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

#education .container h2,
#experiences .container h2 {
  text-align: center;
}

.edu-container,
.expe-container {
  position: relative;
  margin: 0 auto;
}

.timeline-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.timeline-progress {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 3px;
  height: 100%;
  background: var(--color-text);
  border-radius: 100px;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  z-index: 2;
  display: grid;
  padding: 80px 0;
  grid-auto-columns: 1fr;
  grid-gap: 0;
  grid-template-columns: 1fr 150px 1fr;
  grid-template-rows: auto;
}

.timeline-item h3 {
  font-size: var(--font-size-1);
}

.timeline-item p.tagline {
  font-weight: 500;
  font-style: italic;
}

.timeline-left {
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.timeline-date {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-center {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.timeline-circle {
  position: sticky;
  top: 50%;
  width: 100%;
  height: 100%;
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.timeline-circle.edu.ut {
  background: var(--color-bg);
}

.timeline-circle img {
  aspect-ratio: 1;
  object-fit: cover;
}

.timeline-circle.expe img {
  border: 3px solid var(--color-text);
  border-radius: 50%;
}

@media (width <= 1024px) {
  #education .container h2,
  #experiences .container h2 {
    text-align: left;
  }

  .timeline-progress {
    left: 0;
  }

  .timeline-circle {
    top: 50%;
    left: 0;
    translate: -50% -50%;
  }

  .timeline-item {
    width: 100%;
    grid-template-columns: 10% 1fr;
  }

  .timeline-left {
    text-align: left;
    grid-area: 1 / 2 / 2 / 3;
  }

  .timeline-center {
    justify-content: flex-start;
    grid-area: 1 / 1 / 3 / 2;
  }

  .timeline-right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

/* CONTACT SECTION */
#contact {
  display: flex;
  align-items: center;
  min-height: 100dvh;
  color: var(--color-text);
}

#contact .container {
  display: grid;
  gap: var(--spacing-s);
  grid-template-areas:
    "title title"
    "text form"
    "text form";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

#contact .container h2 {
  grid-area: title;
}

#contact .container .contact-text {
  grid-area: text;
}

#contact .container form {
  grid-area: form;
}

.container form {
  position: relative;
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.input-group label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-0);
  transition: all 500ms ease-in;
  pointer-events: fill;
}

.input-group input,
.input-group textarea {
  font-size: var(--font-size-0);
  color: var(--color-text);
  background: transparent;
  transition: all 500ms;
  border-bottom: 1.5px solid var(--color-text);
  resize: none;
}

.input-group input:focus,
.input-group textarea:focus {
  font-size: var(--font-size-0);
  color: var(--color-text);
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label,
.input-group textarea:focus ~ label,
.input-group textarea:not(:placeholder-shown) ~ label {
  top: -2rem;
  font-size: calc(var(--font-size-0) * 0.9);
}

.input-group label::after,
.input-group textarea::after {
  font-weight: 600;
  content: " *";
}

form button {
  text-align: center;
  box-shadow: 3px 3px 5px var(--color-shadow);
}

.btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.btn-container ion-icon {
  position: absolute;
  left: 0;
  transition: left 750ms ease;
}

form button:hover .btn-container ion-icon {
  left: 100%;
}

#contact .container .popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: min(950px, 80%);
  padding: 1.5rem;
  color: #e1e7e0;
  background: var(--color-primary);
  border-radius: 20px;
  box-shadow: 0 0 10px var(--color-shadow);
  opacity: 0;
  transition: all 750ms ease-in-out;
  pointer-events: none;
  scale: 0.95;
  translate: -50% -50%;
  visibility: hidden;
}

#contact .container .popup-message.show {
  opacity: 1;
  pointer-events: all;
  scale: 1;
  visibility: visible;
}

.popup-overlay {
  position: fixed;
  z-index: 11;
  background: rgb(0 0 0 / 50%);
  opacity: 0;
  transition: all 0.5s linear;
  backdrop-filter: blur(5px);
  inset: 0;
  visibility: hidden;
}

.popup-message.show ~ .popup-overlay {
  opacity: 1;
  visibility: visible;
}

@media (width <= 1024px) {
  #contact .container {
    gap: 3rem;
    grid-template: "title" auto "text" auto "form" auto / 1fr;
  }
}

#footer {
  position: relative;
  color: #e1e7e0;
  background: var(--color-primary);
}

footer .container {
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  grid-template-areas:
    "logo nav links"
    "logo nav links"
    "copyright copyright copyright";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
}

.footer-logo {
  text-align: left;
  cursor: default;
  grid-area: logo;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  grid-area: links;
}

.footer-link p,
.footer-nav p {
  font-weight: 600;
}

.footer-link a {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
  grid-area: nav;
}

.footer-copyright {
  font-size: 0.875rem;
  text-align: center;
  grid-area: copyright;
}

.footer-link a,
.footer-nav a {
  text-decoration: none;
  transition: color 500ms;
}

.footer-link a:hover,
.footer-nav a:hover {
  color: var(--color-bg);
}

@media (width <= 1024px) {
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: min(1rem, 8%);
  }

  .footer-copyright {
    width: 100%;
    text-align: center;
  }
}
