/* stylelint-disable font-family-no-missing-generic-family-keyword */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: Montserrat;
  background: var(--color-bg);
}

h1 {
  font-size: var(--font-size-4);
  font-weight: 700;
  line-height: 0;
}

h2 {
  font-size: var(--font-size-3);
  font-weight: 600;
  line-height: 0;
}

h3 {
  font-size: var(--font-size-2);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-1);
  font-weight: 500;
}

p {
  font-size: var(--font-size-0);
  line-height: 1.5;
}

main > section:not(:first-child) {
  padding: calc(8dvh + var(--spacing-s-2xl)) 0;
}
