@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

/* DARK MODE */
body.light-mode {
  --color-bg: #d4f1f4;
  --color-text-inverse: #e1e7e0;
  --color-text: #2b4560;
  --color-primary: #09a9c8;
  --color-accent: #05445e;
  --color-shadow: rgba(0, 0, 0, 0.5);
}

body.dark-mode {
  --color-bg: #2b4560;
  --color-text-inverse: #2b4560;
  --color-text: #e1e7e0;
  --color-primary: #15273a;
  --color-accent: #d4f1f4;
  --color-shadow: rgba(255, 255, 255, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #d4f1f4;
    --color-text-inverse: #e1e7e0;
    --color-text: #2b4560;
    --color-primary: #09a9c8;
    --color-accent: #05445e;
    --color-shadow: rgba(0, 0, 0, 0.5);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #2b4560;
    --color-text-inverse: #2b4560;
    --color-text: #e1e7e0;
    --color-primary: #15273a;
    --color-accent: #d4f1f4;
    --color-shadow: rgba(255, 255, 255, 0.5);
  }
}