/* THEME */
body.light-mode {
  --color-bg: #f6f8f7;
  --color-surface: #f0f3fc;
  --color-text-inverse: var(--color-bg);
  --color-text: #41495a;
  --color-primary: #e9eefa;
  --color-accent: #005cbb;
  --color-shadow: rgb(0 0 0 / 50%);
  --swiper-navigation-color: var(--color-accent);
  --swiper-pagination-color: var(--color-accent);
}

body.dark-mode {
  --color-bg: #1a1b1f;
  --color-surface: #21242a;
  --color-text-inverse: var(--color-bg);
  --color-text: #e1e7e0;
  --color-primary: #262931;
  --color-accent: #abc7ff;
  --color-shadow: rgb(255 255 255 / 50%);
  --swiper-navigation-color: var(--color-accent);
  --swiper-pagination-color: var(--color-accent);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #f6f8f7;
    --color-surface: #f0f3fc;
    --color-text-inverse: var(--color-bg);
    --color-text: #41495a;
    --color-primary: #e9eefa;
    --color-accent: #005cbb;
    --color-shadow: rgb(0 0 0 / 50%);
    --swiper-navigation-color: var(--color-accent);
    --swiper-pagination-color: var(--color-accent);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1a1b1f;
    --color-surface: #21242a;
    --color-text-inverse: var(--color-bg);
    --color-text: #e1e7e0;
    --color-primary: #262931;
    --color-accent: #abc7ff;
    --color-shadow: rgb(255 255 255 / 50%);
    --swiper-navigation-color: var(--color-accent);
    --swiper-pagination-color: var(--color-accent);
  }
}
